@charset"UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
            margin-left: 2px;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        .text-title{
            margin-top: 70px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
            width: 310px;
        }

        .text-views{
            font-size: 14px;
            color:rgb(96, 96, 96);
            margin-top: 6px;
            margin-bottom: 0;
        }


        .text-mc{
            font-size: 14px;
            color:rgb(96, 96, 96);
            margin-top: 20px;
        }

        .text-text{
            font-size: 14px;
            color:rgb(96, 96, 96);
            margin-top: 20px;
            width: 270px;
            line-height: 22px;
        }

        .rodape{
            margin-top: 120px;
            background-color: rgb(227, 65, 64);
            color: white;
            padding-right: 10px;
            font-size: 14px;
            text-align: center;
            padding-top: 18px;
            padding-bottom: 18px;   
        }
        .shop:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        img{
            height: 28px;

        }

        .container2{
            position: relative;
        }
        .box{
            position: absolute;
            transform: translate(-10%, -150%);
        }
        
        .container1{
            margin-left: -1px;
        }

        .tube{
            position: absolute;
            transform: translate(0, 150%);
        }

        .model3{
            font-size: 50px;
            margin-top: 100px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
            font-family: "Montserrat", sans-serif;
        }

        .order-online{
            text-align: center;
            font-size: 25px;
        }

        a{
            color: black;
        }