@charset"UTF-8";

*{
            box-sizing: border-box;
        }
        .back{
           padding: 10px 5px;
           cursor: pointer;
        }

        .next{
            padding: 10px 5px;
            cursor: pointer;
        }

        .strech{
            margin-top: 70px;
            margin-left: 30px;
            padding: 10px 20px;
            background-color: rgba(4, 129, 6, 0.795);
            color: white;
            font-weight: bold; 
            cursor: pointer; 
            border: none;
            transition: 1s;         
        }
        .strech:hover{
            padding: 20px 40px;   
        }
        
        
        
        .pstrech{
            margin-top: 50px;
            margin-left: 48px;
            position:absolute;

        }
        .shadow{
            margin-top: 70px;
            margin-left: 30px;
            padding: 7px 15px;
            background-color: rgba(4, 129, 6, 0.795);
            color: white;
            font-weight: bold; 
            cursor: pointer;
            border: none;
            transition: 0.20s;
        }

        .shadow:active{
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.668);
            padding: 13px 20px;

        }
        
        .pshadow{
            position: absolute;
            margin-top: 50px;
            margin-left: 48px;

        }

        .num{
            margin-top: 80px;
            margin-left: 10px;
        }

        .number{
            margin-left: 15px;
            margin-right: 15px;
            padding: 7px 15px;
            background-color: rgba(4, 129, 6, 0.795);
            color: white;
            font-weight: bold; 
            cursor: pointer;
            border: none;
            transition: 0.20s;          
        }

        .number:hover{
            padding: 7px 25px;
            margin: 0 10px 0 10px;          
        }

        .pnumber{
            margin-left: 40px;
            margin-bottom: 2px;  
        }