@charset"UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body, html{
    padding-bottom: 2000px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 12px;
    padding-bottom: 20px;
    background-color: rgba(226, 225, 225, 0.096);
    margin: 0;
}
p{
    font-family: "roboto", Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

